.experience-name {
	font-size: 2.75rem;
	font-weight: bold;
}

.experience-position {
	font-size: 1.25rem;
	font-weight: bold;
}

.experience-timeline {
	font-size: 1.15rem;
}

.house {
	list-style-type: "🏡";
}
