/* the navbar itself */
.navbar {
	display: flex;
	/* justify-content: flex-end; */
	position: sticky;
	z-index: 1;

	width: 100%;
	height: 4rem;
	top: 0;
	transition: height 0.3s linear;

	box-shadow: 0 4px 2px -2px var(--shadow);
	background-color: var(--background);
}

/* list of nav-items */
.nav-list {
	display: flex;
	justify-content: flex-end;

	width: 100%;

	height: inherit;

	list-style-type: none;

	/* flex-direction: row; */
	/* flex: 1 1 0px; */
}

/* nav item */
.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;

	width: 6rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: inherit;

	cursor: pointer;
}

.nav-item:hover {
	background-color: #e0787b;
	color: var(--foreground);
	text-decoration: none;
}

.nav-brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: inherit;
	font-size: 2rem;
	font-weight: 900;
	margin-left: 1rem;
}

.nav-brand .first-letter {
	display: inline-block;
	font-size: 2rem;
	text-shadow: none;
	font-weight: 900;
}

.nav-brand .other-letters {
	display: inline-block;
	font-weight: 900;
	font-size: 2rem;
}

.navbar-small {
	height: 3rem;
	transition: height 0.3s linear;
}
