.slide-in {
	animation: slide-in 0.5s forwards;
	-webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slide-in {
	100% {
		transform: translateX(0%);
	}
}

.left {
	transform: translateX(-200%);
}

.right {
	transform: translateX(200%);
}
