* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-size: 16px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: #f6efe9;
}

#root {
	height: 100vh;
	height: 4000px;
}

/* name */

.name-container {
	margin-top: 10rem;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
}

.first-letter {
	color: #d33e43;
	font-size: 5rem;
}

.lastname {
	margin-left: 3.5rem;
	display: block;
}

.name-scroll .first-letter,
.name-scroll {
	font-size: 2rem;
}

.name-scroll .firstname,
.name-scroll .lastname {
	display: inline-block;
}

.name-scroll .lastname {
	margin-left: 0.5rem;
}

.sticky-logo {
	position: sticky;
	top: 0;
	left: 0;
	text-align: start;

	display: flex;
	align-items: center;
	height: 4rem;
	margin-left: 1rem;
	width: 50%;
}

/* .name-shadow {
	margin-top: 1rem;
	margin-left: -7.25rem;
	position: absolute;
	z-index: -1;
	color: #a96a68;
	font-size: 4rem;
}

.first-name-shadow {
	margin-left: -9rem;
} */

/* navbar */

.navbar {
	margin: 0;
	width: 100%;
	height: 4rem;
	box-shadow: 0 4px 2px -2px gray;
	/* margin-top: 1em;
	margin-bottom: 1em; */
	top: 0;
	position: sticky;
}

.nav-list {
	list-style-type: none;
	height: inherit;
	/* display: flex 1 1 0px; */
	display: flex;
	flex: 1 1 0px;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	flex-direction: row;
}

.nav-item {
	list-style-type: none;
	height: inherit;
	justify-content: center;
	align-self: center;
	display: flex;
	align-items: center;
	margin-left: 1rem;
	cursor: pointer;
	width: 5rem;
}

/* .nav-item:last-child {
	margin-right: 1rem;
} */

.nav-item:hover {
	background-color: #858786;
	color: #f6efe9;
}
