:root[color-mode="light"] {
	/* --background: #ccd3d9; */
	--background: #b8bec3;
	--foreground: #2d2c2b;
}

:root[color-mode="dark"] {
	--background: #2d2c2b;
	/* --foreground: #ccd3d9; */
	--foreground: #b8bec3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-size: 16px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
	color: #ccd3d9;
	color: var(--foreground);
}

body {
	min-height: 100vh;
	/* margin-left: 2rem;
	margin-right: 2rem; */
	background-color: #ccd3d9;
	background-color: #565554;
	background-color: #41403f;
	background-color: #363534;
	background-color: #2d2c2b;
	background-color: var(--background);
}

#root {
	height: 100vh;
	height: 4000px;
}

/* name */

.name-container {
	/* margin-top: 10rem; */
	margin-top: -5rem;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
	z-index: 1;
}

.first-letter {
	color: #d33e43;
	font-size: 5rem;
	text-shadow: 2px 2px var(--foreground);
	z-index: 1;
	display: inline-block;
}

.lastname {
	margin-left: 3.5rem;
	display: block;
}

.name-scroll .first-letter,
.name-scroll {
	font-size: 2rem;
	text-shadow: none;
}

.name-scroll .firstname,
.name-scroll .lastname {
	display: inline-block;
}

.name-scroll .lastname {
	margin-left: 0.5rem;
}

.html-tag {
	font-size: 4.5rem;
	color: #d33e43;
}

.html-tag:first-child {
	color: #ccd3d9;
}

.sticky-logo {
	position: sticky;
	top: 0;
	left: 0;
	text-align: start;

	display: flex;
	align-items: center;
	height: 4rem;
	margin-left: 1rem;
	width: 50%;
}

.title {
	color: #d33e43;
	color: #ccd3d9;
	color: var(--foreground);
	font-size: 1.5rem;
	/* font-weight: 400; */
}

/* .name-shadow {
	margin-top: 1rem;
	margin-left: -7.25rem;
	position: absolute;
	z-index: -1;
	color: #a96a68;
	font-size: 4rem;
}

.first-name-shadow {
	margin-left: -9rem;
} */

/* navbar */

.navbar {
	margin: 0;
	width: 100%;
	height: 4rem;
	/* box-shadow: 0 4px 2px -2px gray; */
	top: 0;
	position: sticky;
	background-color: #b4ada3;
	background-color: #2d2c2b;
	background-color: var(--background);
	z-index: 1;
	display: flex;
}

.nav-list {
	list-style-type: none;
	height: inherit;
	/* display: flex 1 1 0px; */
	display: flex;
	flex: 1 1 0px;
	justify-content: flex-end;
	/* position: absolute;
	top: 0;
	right: 0; */
	flex-direction: row;
}

.nav-item {
	list-style-type: none;
	height: inherit;
	justify-content: center;
	align-self: center;
	display: flex;
	align-items: center;
	margin-left: 1rem;
	cursor: pointer;
	width: 6rem;
}

/* .nav-item:last-child {
	margin-right: 1rem;
} */

.nav-item:hover {
	background-color: #d33e43;
	color: #f6efe9;
	color: var(--foreground);
}

/* slanted div */

.slanted-div {
	height: 500px;
	transform: rotate(-10deg);
	width: 200%;
	background-color: #d33e43;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	margin-top: -30.4rem;
	margin-left: -6rem;
	/* overflow: hidden; */
}

.slanted-div-container {
	position: relative;
	overflow: hidden;
	height: 23rem;
	z-index: -1;
}

/* under name slanted div */

.slanted-div-under-container {
	position: relative;
	overflow: hidden;
	height: 50rem;
	margin-top: -25rem;
	z-index: -1;
}

.slanted-div-under {
	height: 50px;
	margin-top: 30rem;
	margin-left: -5rem;
	width: 120%;
	background-color: #d33e43;
	transform: rotate(-10deg);
	z-index: -1;
}

.slanted-div-under-container2 {
	position: relative;
	overflow: hidden;
	height: 30rem;
	margin-top: -27.8rem;
	z-index: -1;
}

.slanted-div-under2 {
	height: 25px;
	margin-top: 12rem;
	margin-left: -5rem;
	width: 120%;
	background-color: #d33e43;
	transform: rotate(-10deg);
	z-index: -1;
}

.slanted-div-under-container3 {
	position: relative;
	overflow: hidden;
	height: 30rem;
	margin-top: -27.5rem;
	z-index: -1;
}

.slanted-div-under3 {
	height: 12.5px;
	margin-top: 12rem;
	margin-left: -5rem;
	width: 120%;
	background-color: #d33e43;
	transform: rotate(-10deg);
	z-index: -1;
}

.color-toggle {
	height: inherit;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	user-select: none;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: -0.1rem;
}

/* skill */

.section-title {
	font-size: 3rem;
	text-shadow: 2px 2px #d33e43;
	display: inline-block;
}

/* .section-title:hover {
	color: #d33e43;
	text-shadow: 0px 0px 5px var(--foreground);
} */

.section-subtitle {
	/* position: absolute; */
	font-size: 1.5rem;
}

.section-container {
	margin-left: 4rem;
	margin-right: 4rem;
}

.slanted-box-container-skills {
	position: relative;
	overflow: hidden;
	height: 50rem;
	z-index: -1;
	/* margin-top: -27.5rem; */
}

.slanted-box-skills {
	height: 400px;
	margin-top: 12rem;
	margin-left: -5rem;
	width: 120%;
	background-color: #d33e43;
	transform: rotate(10deg);
	z-index: -1;
}

/* project */

.project-container {
	height: 22.5rem;
	width: 40rem;
	opacity: 0.3;
	border: 1px solid black;
}

.project-container:hover {
	opacity: 1;
}

.projects-container {
	display: flex;
}

/* Wobble Vertical */
@-webkit-keyframes wobble {
	16.65% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	33.3% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	49.95% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	66.6% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	83.25% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes wobble {
	16.65% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	33.3% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	49.95% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	66.6% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	83.25% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.wobble {
	display: inline-block;
}
.wobble:hover,
.wobble:focus,
.wobble:active {
	-webkit-animation-name: wobble;
	animation-name: wobble;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/* scroll bar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--foreground);
}

::-webkit-scrollbar-thumb {
	background-color: #d33e43;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #e0787b;
}
