:root[color-mode="light"] {
	/* --background: #ccd3d9; */
	/* --background: #b8bec3; */
	--background: #d4d6da;
	--foreground: #2d2c2b;
	--darker: #abafb6;
	--darker-inverse: #201f1f;
	--shadow: gray;
}

:root[color-mode="dark"] {
	--background: #2d2c2b;
	/* --foreground: #ccd3d9; */
	/* --foreground: #b8bec3; */
	--foreground: #d4d6da;
	--darker: #201f1f;
	--darker-inverse: #abafb6;
	--shadow: #3a3937;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-size: 100%;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	font-family: "JetBrains Mono", monospace;
	font-family: "Share Tech Mono", monospace;
	font-family: "Roboto Mono", monospace;
	font-family: "IBM Plex Mono", monospace;
	scroll-behavior: smooth;
	color: #ccd3d9;
	color: var(--foreground);
	height: 100%;
}

body {
	/* min-height: 100vh; */
	/* margin-left: 2rem;
	margin-right: 2rem; */
	/* -webkit-text-size-adjust: 100%; */
	background-color: #ccd3d9;
	background-color: #565554;
	background-color: #41403f;
	background-color: #363534;
	background-color: #2d2c2b;
	background-color: var(--background);
}

/* @supports(padding: max(0px)) {
	body {
		padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	}
} */

#root {
	min-height: 100vh;
	position: relative;
	/* height: 4000px; */
	/* width: 100%; */
}

.content {
	height: 4000px;
	padding-bottom: 2.5rem;
}

/* name */

.sticky-logo {
	position: sticky;
	top: 0;
	left: 0;
	text-align: start;

	display: flex;
	align-items: center;
	height: 4rem;
	margin-left: 1rem;
	width: 50%;
}

.menu-icon {
	display: none;
}

/* skill */

/* .section-title {
	font-size: 3rem;
	text-shadow: 2px 2px #d33e43;
	display: inline-block;
} */

/* .section-title:hover {
	color: #d33e43;
	text-shadow: 0px 0px 5px var(--foreground);
} */

.section-subtitle {
	/* position: absolute; */
	font-size: 2.5rem;
	/* color: var(--darker-inverse); */
}

/* .section-container {
	margin-left: 4rem;
	margin-right: 4rem;
	margin-bottom: 2rem;
} */

/* project */

.project-container {
	height: 22.5rem;
	width: 40rem;
	opacity: 0.3;
	border: 1px solid black;
}

.project-container:hover {
	opacity: 1;
}

.projects-container {
	display: flex;
}

/* Wobble Vertical */
@-webkit-keyframes wobble {
	16.65% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	33.3% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	49.95% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	66.6% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	83.25% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes wobble {
	16.65% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	33.3% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	49.95% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	66.6% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	83.25% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.wobble {
	display: inline-block;
}
.wobble:hover,
.wobble:focus,
.wobble:active {
	-webkit-animation-name: wobble;
	animation-name: wobble;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/* scroll bar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--foreground);
}

::-webkit-scrollbar-thumb {
	background-color: #d33e43;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #e0787b;
}

/* footer */

.footer {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	font-size: 1rem;
}

/* skills */

/* .skills {
	width: 4rem;
	height: inherit;
	margin-left: 1rem;
	margin-right: 1rem;
}

.skills:first-child {
	margin-left: 0;
}

.skills:last-child {
	margin-right: 0;
} */

/* sub-section */
/* 
.inner-section {
	display: flex;
	width: 100%;
	height: 30rem;
	align-items: center;
	justify-content: space-between;
}

.skills-container {
	margin-top: 2rem;
}

.section-list {
	list-style-type: "☁️ ";
	margin: 0;
	padding: 0;
	font-size: 1.15rem;
	margin-left: 2rem;
	margin-top: 2rem;
} */

.transparent {
	background-color: #c5d4e8;
}

/* .inner-section {
	background-color: #abafb6;
	background-color: #201f1f;
	background-color: var(--darker);
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
} */

/* .inner-section:nth-child(even) {
	padding-left: 2rem;
}

.inner-section:nth-child(odd) {
	padding-right: 2rem;
} */

/* .section-description {
	width: inherit;
	display: flex;
	justify-content: center;
}

.section-subtitle {
	text-align: center;
	font-size: 2.75rem;
}

.skills-container {
	text-align: center;
}

.section-list {
	font-size: 1.2rem;
} */

/* .section-image-container {
	height: inherit;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
} */

/* experience */

/* .position-information {
	text-align: center;
	font-size: 1.15rem;
}

.position {
	font-size: 1.25rem;
	font-weight: bold;
}

.experience-information {
	list-style-type: "🏡 ";
	margin: 0;
	padding: 0;
	margin-left: 2rem;
	margin-top: 2rem;
} */
